<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<style>
  body {
    background-image: url("/static/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
</style>

<body>
    <h2>Digite o login e a senha</h2>
    <div class="container">
        <label>Login</label>
        <input type="text" name="txtlogin" class="form-control">
    </div>
    <div class="container">
        <label>Senha</label>
        <input type="text" name="txtsenha" class="form-control">
    </div>
    
</body>
</html>