<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<style>
  body {
    background-image: url("/static/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
</style>

<body>
    <h2>Digite o login e senha</h2>
    <form method="post" action="/autenticar">
        <div class="container">
            
                
            <div class="mb-3">
                <label for="textLOGIN">Login</label>
                <input type="text" name="txtlogin" id="textLOGIN"  class="form-control">
            </div>
            <div class="mb-3">
                <label for="textSENHA">Senha</label>
                <input type="password" name="txtsenha" id="textSENHA" class="form-control">
            </div>
            <div>
                <Button type="submit" class="btn btn-primary" href="/escolha">Acessar</Button>
            </div>
            {% if mensagem %}
                <p style="color: red;">
                    {{mensagem}}
                </p>
            <script>
                    setTimeout(function() {
                        window.location.href = "/";
                    }, 2000); // 2 segundos
            </script>
            {%endif%}
        </div>
    </form>
</body>
</html>