<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio</title>
    <style type="text/css">
        table,th,td{
            border: 1px solid #000000;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>categoria</th>
             
        </tr>

        {% for organizar in cat%}
        <tr>
            <td>{{organizar.categoria}}</td>
            <td>{{organizar.produto}}</td>
            <td>{{organizar.preco}}</td>
            <td>{{organizar.quantidade}}</td>
           
        </tr>
        {% endfor %}

        
    </table>
    
</body>
</html>